<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/pasfoto.jpg" alt="Ardillah Setiawan" class="img-thumbnail rounded-circle" width="250">
            <h1 class="display-4">Ardillah Setiawan</h1>
            <p class="lead">Web Programmer</p>
        </div>
    </div>
</div>